header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 2em;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    padding: 1em;
    width: 8em;
  }
}
